
.fundo-box {
    background: white;
}

.prin-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size:20px;
    text-align: center;
}

img.full-bg {
    min-height: 100%;
    min-width: 1280px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

img.profile-img {
    width: 100%;
	height: auto;
    top: 0;
    left: 5em;
}

img.full-bg.full-bg-bottom {
    top: auto;
    bottom: 0;
}

@include media-breakpoint-up(sm) {
    img.profile-img {
        width: 150%;
        height: auto;
        top: 0;
        left: 5em;
    }
}
@include media-breakpoint-up(md) {
    img.profile-img {
        width: 150%;
        height: auto;
        top: 0;
        left: 5em;
    }
}
@include media-breakpoint-up(lg) {
    img.profile-img {
        width: 150%;
        height: auto;
        top: 0;
        left: 5em;
    }
}
@include media-breakpoint-up(xl) {
    img.profile-img {
        width: 150%;
        height: auto;
        top: 0;
        left: 5em;
    }
}